Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
# ANS :

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
pd_series = pd.Series(data)

print(pd_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
#ANS :

import pandas as pd

Series_list = [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

my_series = pd.Series(Series_list)

print(my_series)

0     11
1     22
2     33
3     44
4     55
5     66
6     77
7     88
8     99
9    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [6]:
# ANS : 

import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [1]:
# ANS :
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

age_series = df['Age']

print("DataFrame:")
print(df)
print("\nSeries (Age column):")
print(age_series)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series (Age column):
0    25
1    30
2    27
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [8]:
# ANS : head() and tail(), info(),describe(),sort_values()

import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Eva'],
    'Age': [25, 30, 27, 22, 35],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

head_result = df.head(3)

print(head_result)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [4]:
# ANS : Series & DataFrame both are mutable but panel is not mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [5]:
# ANS : 

import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female